# Data and R files
data/*
int/*
cache/*
*.RData
*.rds
*.Rhistory
!output/mrs_calculation/*

# LaTeX helper files
*.sty
*.cls
*.csl
*.aux
*.log
*.out
*.synctex.gz

# Microsoft Office files
*.docx
*.pptx

# Submissions
doc/module_ewas/past_submissions/*
doc/mrs_models/past_submissions/*
doc/mrs_models/jaha/proofing/*
*cover_letter*

# Mac-specific
*.DS_Store
