# Data and R files
data/*
int/*
cache/*
*.RData
*.rds
*.Rhistory

# LaTeX helper files
*.sty
*.cls
*.csl
*.aux
*.log
*.out
*.synctex.gz

$ Microsoft Office files
*.docx
*.pptx

# Submissions
doc/module_ewas/past_submissions/*
*cover_letter*

# Mac-specific
*.DS_Store
